mypy==1.14.0
psycopg2-binary==2.9.10
google-cloud-firestore==2.19.0
pydantic[email]==2.10.4
sqlalchemy==2.0.36
python-dotenv==1.0.1
uvicorn==0.34.0
passlib==1.7.4
pyjwt==2.10.1
fastapi==0.115.6
python-multipart==0.0.20
bcrypt==4.0.1
pydantic==2.10.4